<ngx-loading-bar [color]="'#ffc107'"></ngx-loading-bar>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <!--Header section-->
    <!-- Navigation -->
    
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-spy="affix" data-offset-top="197">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" alt=""/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#section1">Home
                    
                  </a>
            </li>
            
            <li class="nav-item" >
              <a class="nav-link" href="#section2">Services</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    
          
    <header id="section1">
      <div id="carouselExampleIndicators" class="carousel slide cover top" data-ride="carousel">
    <!--
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
    -->
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image:url('../../../assets/img/slide.jpg')">
            
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image:url('../../../assets/img/slide2.jpg')">
            
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image:url('../../../assets/img/slide3.jpg')">
            
          </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image:url('../../../assets/img/slide4.jpg')">
            
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image:url('../../../assets/img/slide5.jpg')">
            
          </div>
        </div>
       
          <div class="carousel-caption align-items-center d-flex" style="">
              <div class="ribbon">
          <div class="wrap">
            <span class="ribbon6">BOOK NOW</span>
          </div>
        </div>
              <form class="col-md-11 m-auto" [formGroup]='bookForm'>
                  
                  <h2 class="mb-4">Get Umrah Packages</h2>
                  
                  <div class="row">
                      
                      <div class="col-md-6">
                          <div class="form-group">
                    
                            <input type="text" class="form-control" 
                            id="" aria-describedby="" name='name' formControlName='name' placeholder="Enter Full Name">
                            <div style="text-align: left;" *ngIf="submitted && !bookForm.controls['name'].valid">
                                <span class="help-block" style="color:red"
                                    *ngIf="submitted && bookForm.controls['name'].hasError('required')">
                                    Name is required.</span>
                            </div>
                          </div>
                    </div>
                      
                    <div class="col-md-6">
                          <div class="form-group">
                    
                            <input type="email" class="form-control"
                            name='email' formControlName='email' id=""
                             aria-describedby="emailHelp" placeholder="Enter email">
    
                             <div style="text-align: left;" *ngIf="submitted && !bookForm.controls['email'].valid">
                                <span class="help-block" style="color:red"
                                    *ngIf="submitted && bookForm.controls['email'].hasError('required')">
                                    Email is required.</span>
                            </div>
                            <div style="text-align: left;" *ngIf="submitted && !bookForm.controls['email'].valid">
                                    <span class="help-block" style="color:red"
                                        *ngIf="submitted && bookForm.controls['email'].hasError('email')">
                                        Email format is incorrect.</span>
                                </div>
                          </div>
                    </div>
                  </div>
                  
                  <div class="row">
                      
                      <div class="col-md-12">
                          <div class="form-group">
                    
                            <input type="text" class="form-control"
                             id="" name='phone' formControlName='phone' aria-describedby="" placeholder="Enter Phone">
    
                             <div style="text-align: left;" *ngIf="submitted && !bookForm.controls['phone'].valid">
                                <span class="help-block" style="color:red"
                                    *ngIf="submitted && bookForm.controls['phone'].hasError('required')">
                                    Phone is required.</span>
                            </div>
                            <div style="text-align: left;" *ngIf="submitted && !bookForm.controls['phone'].valid">
                                    <span class="help-block" style="color:red"
                                        *ngIf="submitted && bookForm.controls['phone'].hasError('pattern')">
                                        Phone format is incorrect (0332xxxxxxx).</span>
                                </div>
                          </div>
                    </div>
                      
                    <!-- <div class="col-md-6">
                          <div class="form-group">
                    
                            <input type="text" class="form-control" id=""
                             aria-describedby="" name='days' formControlName='days' placeholder="Enter Number of Days">
    
                          </div>
                    </div> -->
                  </div>
                  
                  <div class="row">
                      
                      <div class="col-md-12">
                          <div class="form-group">
                    
                            <textarea class="form-control"
                             id="exampleFormControlTextarea1" name='message' formControlName='message' rows="3"></textarea>
                             <div style="text-align: left;" *ngIf="submitted && !bookForm.controls['message'].valid">
                                <span class="help-block" style="color:red"
                                    *ngIf="submitted && bookForm.controls['message'].hasError('required')">
                                    Message is required.</span>
                            </div>
                          </div>
                    </div>
                    
                  </div>
                  
                  <button (click)='booknow(bookForm.value)' id='bookRequest'
                   class="btn btn-warning btn-block btn-lg">Contact Me</button>
                </form>
              
            </div>
          
      </div>
    </header>
    <!--Header section-->
        
    <!--services section-->
        
        <div class="feat bg-gray pt-5 pb-5 cover" id="section2">
        <div class="container">
          <div class="row">
            <div class="section-head col-sm-12">
              <h4><span>Our</span> Services</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's<br />
    standard dummy text ever since the 1500s, when an unknown book.</p>
            </div>
             
            <div class="col-lg-3 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-copy"></i></span>
                <h6>Visa Services</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-ticket-alt"></i></span>
                <h6>Ticket Services</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hotel"></i></span>
                <h6>Hotel Services</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-bus-alt"></i></span>
                <h6>Transportation Services</h6>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>
              </div>
            </div>
                      
          </div>
        </div>
      </div>
        
    <!--services section-->
    
    
    <!--footer-->
        
        <footer class="">
            
            <div class="container">
                
                <div class="row">
                    
                    
                    <div class="copyrights col-md-10 row m-auto text-center">
                        
                        <div class="col-md-12">
                            
                            <p class="">Copyright &copy; 2019 Al-Musawar Travels &amp; Tours.<br /> All rights reserved.</p>
                            
                        </div><!--col md 6-->
                        
                        <div class="col-md-12">
                            
                           <p class="social mb-0">
                               
                               <a href="#">
                                   <i class="fab fa-facebook-f"></i>
                               </a>
                               <a href="#">
                                   <i class="fab fa-twitter"></i>
                               </a>
                               <a href="#">
                                   <i class="fab fa-linkedin-in"></i>
                               </a>
                           </p>
                            
                        </div><!--col md 6-->
                    
                    </div><!--copyright-->
                    
                </div><!--row-->
                
            </div><!--container-->
            
            
        
        </footer>
        
    <!--footer-->
        
  
    
     
       </body>